
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
   font-style: normal;
}
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

/* header */
.header{
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    width: 1440px;
    height: 698px;
    background-position: center;
    margin: 0 auto;
}


/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
} 
.nav-title{
    color: rgba(78, 71, 255, 1);
    font-size: 34px;
    font-weight:black;
}

/* shared style */
.btn-primary{
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
   background-color: rgba(78, 71, 255, 1);
   padding: 12px 36px;
   border: none;
   border-radius: 10px; 
}
button:hover{
    background-color: brown;
}

/* banner */

.banner-title{
    font-size: 65px;
    font-weight: bold;
}
.banner{
    margin:309px 267.5px 152px;
   text-align: center;
}

/* main */
.head-title{
    font-size: 42px;
    font-weight: bold;
}
.content-description{
  font-size: 24px;
  color:rgba(37, 36, 50, 0.5) ;  
}
.profile-pic{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
.content{
    display: flex;
   margin:116px 292px  141px;
   justify-content: space-around;
   
   
} 
.content-title{
   width:606px ; 
}


body {
  font-family: Arial, sans-serif;
  background-color:white;
  text-align: center;
  padding: 50px;
}

.stats-container{
    background-color: rgba(78, 71, 255, 0.1);
    width:1140px ;
    height:306px ;
    background-position: 141px 1258px;
    padding:50px 80px ;
    border-radius: 24px;
    margin:116px auto ;
    
}
.stats-container h2 {
  font-size: 24px;
  margin-bottom: 40px;
  color: #111;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.stat-box {
  background-color:white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stat-number {
  font-size: 36px;
  font-weight: bold;
  color: darkblue; 
}

.stat-label {
  font-size: 14px;
  margin-top: 8px;
  color:gray;
}
